[submodule "zlib"]
	path = zlib
	url = git://github.com/manuels/unix-toolbox.js-zlib.git
[submodule "libgpg-error"]
	path = libgpg-error
	url = git://github.com/manuels/unix-toolbox.js-libgpg-error.git
[submodule "libassuan"]
	path = libassuan
	url = git://github.com/manuels/unix-toolbox.js-libassuan.git
[submodule "libksba"]
	path = libksba
	url = git://github.com/manuels/unix-toolbox.js-libksba.git
[submodule "libgcrypt"]
	path = libgcrypt
	url = git://github.com/manuels/unix-toolbox.js-libgcrypt.git
[submodule "toolbox-base"]
	path = toolbox-base
	url = git://github.com/manuels/unix-toolbox.js-base.git
